body{
    background-color: #F3F5FC;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;   
}

.leftContainer{
    width: 1340px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

header{
    align-self: flex-start;
    width: 100%;
}

.logo{
    margin-left: 44px;
    margin-bottom: 40px;
    height: 48px;
    width: 31.09px;
}

.text-area{
    width: 680px;
    height: 580px;
    padding: 40px;
    margin: auto;
    border-style: none;
    background: transparent;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
}

.text-area::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.text-area:focus::placeholder{
    color: #CED4DA;
}

.warningContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin:auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
}

#warningIcon{
    width: 16px;
    height: 16px;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.btnEncriptar{
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin: 10px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    border-width: 1px;
    border-color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    color: #FFFFFF;
}

.btnEncriptar:hover{
    border-color: #052051;
    background: #052051;
    cursor:pointer;
}

.btnDesencriptar{
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin: 10px;
    width: 328px;
    height: 67px;
    background: #F3F5FC;
    border-radius: 24px;
    border-width: 1px;
    border-color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    color: #0A3871;
    
}

.btnDesencriptar:hover{
    border-color: #0A3871;
    background: #D8DFE8;
    cursor:pointer;
}

.rightContainer{
    display: flex;
    align-self: right;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin: 40px;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display:inline-flex;
}

.mensaje{
    display: flex;
    flex-direction: column;
    border-style: none;
    resize: none;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 20px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
    background-image: url("../img/picture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    align-self: flex-end;
    height: 200px;
    overflow:auto;
}
   
.mensaje:focus {
    outline: none;
}

.content{
    width: 100%;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

#notfound{
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    align-self: stretch;
}

#note{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px;
}

.btnCopiar{
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin: 20px;
    width: 90%;
    height: 67px;
    background:#FFFFFF;
    border-radius: 24px;
    border-width: 1px;
    border-color: #0A3871;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    color: #0A3871;
    float: inline-end;
    visibility:collapse;
    align-self: flex-end;
}

.btnCopiar:hover{
    border-color: #0A3871;
    background: #D8DFE8;
    cursor:pointer;
}

footer{
    width: 100%;
    height: fit-content;
}

.footerContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #495057;
    margin-bottom: 10px;;
}

@media screen and (max-width: 768px) {
    .leftContainer{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header{
        width: 100%;
        padding: auto;
        margin: 40px;
    }
    .logo{
        padding: 0;
        margin: 0;
    }

    .warningContainer{
        width: 100%;
        padding: auto;
        margin: 40px;
    }
    .buttonsContainer{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rightContainer{
        width:100%;
        padding: auto;
    }

    .footerContainer{
        width: 100%;
        padding: auto;
    }

    .mensaje{
        background-image: none;
        overflow: auto;
        height: auto;
    }

}